
.nav{
    padding: 30px 60px 10px 0px;
    a{
        font-size: 20px;
        color: #217a7f;
    }
    .dropdown-menu{
        margin: 15px;
        background-color: #217a7f;
        .dropdown-item{
            color:#217a7f;
        }
        
    }
}
.index-hallo{
    .row{
        padding: 30px 0;
        text-align: center;
        height: 100vh;
    }
    h1{
        margin-bottom: 16px;
        color: #217a7f;
    }
    p{
        letter-spacing: 10px;
        color: #547577;
    }
    .hallo-me img{
        width: 500px;
        height: 630px;
        border-radius: 0px 40px 60px 90px;
    }
        
    }
.index-aboutjob{
    
    img{
    width: 575px;
    height: 489px;
    }
}
.index-aboutjob{
    .vstack{
        flex-wrap: nowrap;
    }
}
